body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem;
}
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

main {
padding: 1rem;
}

.products {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.product {
border: 1px #404040 solid;
margin: 1rem;
}
.product img {
width: 100%;
max-width: 400px;
}
.product-info {
padding: 1rem;
}

/* for loading animation when data fatched from server */
.classic-7 {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  color:#0000;
  background:linear-gradient(90deg,rgb(125, 108, 108) calc(50% + 0.5ch),#000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip:text;
  background-clip:text;
  animation:c7 2s infinite steps(11);
}
@keyframes c7 {to{background-position: left}}
